.about-us {
  background: #31353d;
  color: white;
  border-top: 9px solid #1bbaf0;
  border-bottom: 11px solid #c0c1c3;
}

.about-us__wrapper {
  padding-top: 35px;
}

.about-us__title {
  font: 32px "Adamina", serif;
  margin-bottom: 30px;
}

.about-us__img1 {
  width: 280px;
  border-radius: 10px;
  float: left;
  margin: 0 30px 20px 0;
}

@media (max-width: 960px) {
  .about-us__img1 {
    width: 225px;
  }
}

@media (max-width: 767px) {
  .about-us__img1 {
    float: none;
    width: 280px;
    margin-right: 0;
  }
}

.about-us__title-small {
  font: 23px "Adamina", serif;
  margin-bottom: 14px;
}

.about-us__paragraph {
  font-family: "Adamina", serif;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px;
}

.about-us__img2 {
  width: 364px;
  border-radius: 10px;
  float: right;
  margin: 0 0 20px 30px;
}

@media (max-width: 960px) {
  .about-us__img2 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .about-us__img2 {
    float: none;
    width: 364px;
    margin-left: 0;
  }
}

@media (max-width: 400px) {
  .about-us__img2 {
    width: 100%;
  }
}

.offer {
  background-color: #f5f5f5;
  color: black;
}

.offer__head {
  color: #31353d;
  font: 32px "Adamina", serif;
  margin-bottom: 30px;
  padding-top: 30px;
}

.offer__wrapper {
  display: flex;
  padding-bottom: 50px;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .offer__wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
  }
}

.offer__item {
  text-align: center;
  width: 268px;
  margin-top: 20px;
}

@media (max-width: 576px) {
  .offer__item {
    width: auto;
  }
}

.offer__title {
  position: relative;
  font-family: "Adamina", serif;
  font-size: 14px;
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  .offer__title {
    padding-bottom: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .offer__title {
    font-size: 30px;
  }
}

.offer__offer-container {
  padding-bottom: 35px;
  margin-bottom: 25px;
  background: url(../images/number_star.png) center bottom no-repeat;
  position: relative;
  font-family: "Ewert", cursive;
  color: black;
  font-size: 88px;
  line-height: 88px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 576px) {
  .offer__offer-container {
    font-size: 94px;
    line-height: 94px;
  }
}

.offer__offer-container::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 1px;
  height: 10px;
  right: 134px;
  margin-right: 12px;
  background: url(../images/offer_lines.png) center top repeat-x;
  width: 121.81818px;
}

@media (max-width: 1140px) {
  .offer__offer-container::before {
    width: 76.57143px;
  }
}

@media (max-width: 960px) {
  .offer__offer-container::before {
    right: 90px;
    width: 67px;
  }
}

@media (max-width: 767px) {
  .offer__offer-container::before {
    width: 50%;
    right: 50%;
  }
}

.offer__offer-container::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 1px;
  height: 10px;
  left: 134px;
  margin-left: 12px;
  background: url(../images/offer_lines.png) center top repeat-x;
  width: 121.81818px;
}

@media (max-width: 1140px) {
  .offer__offer-container::after {
    width: 76.57143px;
  }
}

@media (max-width: 960px) {
  .offer__offer-container::after {
    width: 67px;
    left: 90px;
  }
}

@media (max-width: 767px) {
  .offer__offer-container::after {
    width: 50%;
    left: 50%;
  }
}

.offer__info {
  font-family: "Adamina", serif;
  color: #777;
  font-size: 12px;
  margin-bottom: 30px;
  line-height: 20px;
}

@media (max-width: 576px) {
  .offer__info {
    font-size: 16px;
  }
}

.offer__btn-link {
  text-align: center;
  background-color: #777;
  color: white;
  width: 130px;
  height: 44px;
  border-radius: 21px;
  box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
  display: inline-block;
  line-height: 40px;
  transition: all 0.35s ease 0s;
}

.offer__btn-link:hover {
  background-color: #1bbaf0;
}

@media (max-width: 767px) {
  .offer__btn-link {
    margin-bottom: 20px;
  }
}

.testimonials__head {
  color: #31353d;
  font: 32px "Adamina", serif;
  margin-bottom: 30px;
  padding-top: 60px;
}

@media (max-width: 767px) {
  .testimonials__head {
    padding-top: 30px;
  }
}

.testimonials__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .testimonials__wrapper {
    flex-direction: column;
    padding-bottom: 20px;
  }
}

.testimonials__item {
  position: relative;
  margin-right: 10px;
}

.testimonials__item::before {
  position: absolute;
  content: "";
  background: url(../images/testimonials_quote.png);
  width: 60px;
  height: 60px;
  z-index: 2;
  top: 0;
  left: 0;
}

@media (max-width: 960px) {
  .testimonials__item {
    margin-right: 30px;
  }
}

.testimonials__img {
  float: left;
  border-radius: 50%;
  width: 190px;
  box-shadow: 10px 4px 0 #e2e2e2;
  margin-right: 30px;
  margin-bottom: 20px;
}

@media (max-width: 1140px) {
  .testimonials__img {
    width: 160px;
  }
}

@media (max-width: 960px) {
  .testimonials__img {
    width: 125px;
  }
}

@media (max-width: 767px) {
  .testimonials__img {
    width: 190px;
  }
}

@media (max-width: 576px) {
  .testimonials__img {
    width: 220px;
    float: none;
  }
}

.testimonials__paragraph {
  color: #777;
  font-family: "Adamina", serif;
  font-size: 14px;
  line-height: 22px;
}

.testimonials__name {
  color: #777;
  font-family: "Adamina", serif;
  font-size: 23px;
  padding: 20px 0 0;
  margin-bottom: 34px;
}
