@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Adamina", cursive;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1140px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 960px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.background {
  background-image: url(../images/header_background.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover 1300px;
  z-index: -1;
}

@media (max-width: 576px) {
  .background {
    background-size: cover 700px;
  }
}

.header__menu {
  float: left;
  width: 172px;
  height: 270px;
  background-color: black;
}

@media (max-width: 767px) {
  .header__menu {
    top: -100%;
    float: none;
    height: 100%;
    width: 100%;
    position: fixed;
    margin-top: 0px;
    z-index: 10;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
  }
}

.header__burger {
  display: none;
  z-index: 50;
}

@media (max-width: 767px) {
  .header__burger {
    position: fixed;
    top: 10px;
    right: 10px;
    display: block;
    width: 30px;
    height: 20px;
    z-index: 50;
    border-radius: 5px;
  }
  .header__burger::before {
    content: "";
    background-color: #1bbaf0;
    width: 100%;
    height: 2px;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::after {
    content: "";
    background-color: #1bbaf0;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    position: absolute;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    position: absolute;
    background-color: #1bbaf0;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.header__menu-list {
  width: 118px;
  height: 150px;
  margin: 0px 15px 0px 39px;
  font-family: "Maiden Orange", cursive;
  font-size: 24px;
  line-height: 1.38;
  text-align: left;
}

@media (max-width: 767px) {
  .header__menu-list {
    height: 100%;
    width: 100%;
    font-size: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
    margin: 0;
  }
}

@media (max-height: 362px) {
  .header__menu-list {
    display: block;
  }
}

.header__menu-link {
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.header__menu-link::after {
  opacity: 0;
  content: url(../images/menu_star.png);
  position: relative;
  overflow: visible;
  left: 5px;
  bottom: 3px;
  opacity: 0;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.header__menu-link:hover::after {
  opacity: 1;
}

@media (max-width: 767px) {
  .header__menu-link:hover::after {
    display: none;
  }
  .header__menu-link::after {
    content: "";
  }
}

.header__menu-link:active {
  color: #1bbaf0;
}

.header__menu-link:link {
  color: white;
}

.header__menu-link:visited {
  color: white;
}

.header__menu-link:hover {
  color: #1bbaf0;
}

.header__menu-link--active {
  color: #1bbaf0 !important;
}

.header__menu-link--active::after {
  opacity: 1;
}

.header__logo {
  text-shadow: 6px 10.4px 0 rgba(81, 81, 81, 0.75);
  padding-top: 180px;
  padding-right: 172px;
  font-family: Bevan;
  font-size: 130px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 1140px) {
  .header__logo {
    font-size: 88px;
  }
}

@media (max-width: 960px) {
  .header__logo {
    padding-top: 160px;
    font-size: 64px;
    padding-right: 120px;
  }
}

@media (max-width: 767px) {
  .header__logo {
    padding-right: 0;
    padding-top: 110px;
  }
}

@media (max-width: 395px) {
  .header__logo {
    font-size: 58px;
  }
}

@media (max-width: 360px) {
  .header__logo {
    font-size: 48px;
    padding-top: 60px;
  }
}

.header__logo-stripe {
  font-family: "Maiden Orange", cursive;
  font-size: 24px;
  line-height: 54px;
  text-align: center;
  color: #ffffff;
  margin-top: 70px;
  text-transform: uppercase;
  background-image: url(../images/stripe.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 3px;
  padding-right: 172px;
  padding-bottom: 80px;
}

.header__logo-stripe::after {
  content: url(../images/stripe_star.png);
  position: relative;
  bottom: 5px;
  left: 7px;
}

.header__logo-stripe::before {
  content: url(../images/stripe_star.png);
  position: relative;
  bottom: 5px;
  right: 7px;
}

@media (max-width: 1140px) {
  .header__logo-stripe {
    font-size: 22px;
    background-size: 330px;
    line-height: 44px;
  }
  .header__logo-stripe::after {
    bottom: 4px;
    left: 5px;
  }
  .header__logo-stripe::before {
    bottom: 4px;
    right: 5px;
  }
}

@media (max-width: 960px) {
  .header__logo-stripe {
    font-size: 16px;
    margin-top: 40px;
    padding-right: 0;
    margin-right: 120px;
    background-size: 280px;
    margin-left: 172px;
    line-height: 38px;
  }
  .header__logo-stripe::after {
    bottom: 2px;
    left: 5px;
  }
  .header__logo-stripe::before {
    bottom: 2px;
    right: 5px;
  }
}

@media (max-width: 767px) {
  .header__logo-stripe {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 360px) {
  .header__logo-stripe {
    font-size: 14px;
    background-size: 270px;
    line-height: 34px;
  }
}

.menu__border {
  width: 137px;
  height: 11px;
  margin: 24px 18px 20px 18px;
}

@media (max-width: 767px) {
  .menu__border {
    display: none;
  }
}

.poster-wrapper {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
}

.poster {
  background-image: url(../images/poster_background.png);
  text-align: center;
  background-repeat: repeat-x;
  background-size: auto 100%;
}

.poster__border {
  height: 11px;
  background-image: url(../images/poster_border.png);
}

.poster-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 960px) {
  .poster-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.poster__photo {
  margin: 55px 83px 79px 0;
}

@media (max-width: 960px) {
  .poster__photo {
    margin: 35px 0 0 0;
  }
}

.poster__photo-img {
  height: 365px;
  width: 365px;
  border-radius: 500px;
  -webkit-box-shadow: 0 0 0 16px rgba(255, 255, 255, 0.144);
          box-shadow: 0 0 0 16px rgba(255, 255, 255, 0.144);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

@media (max-width: 1140px) {
  .poster__photo-img {
    height: 282px;
    width: 282px;
    margin-left: 10px;
  }
}

@media (max-width: 360px) {
  .poster__photo-img {
    height: 240px;
    width: 240px;
  }
}

.poster__text {
  width: 670px;
  padding-top: 36px;
  color: #fffffe;
}

@media (max-width: 767px) {
  .poster__text {
    width: 100%;
  }
}

.poster__text-main {
  font-family: "Maiden Orange", cursive;
  font-size: 48px;
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.07);
  line-height: 1.15;
  margin: 20px 0 17px 0;
}

.poster__text-date {
  font-size: 48px;
}

.poster__text-days {
  color: #1bbaf0;
}

.poster__text-name {
  font-family: "Ewert", cursive;
  font-size: 78px;
}

@media (max-width: 1140px) {
  .poster__text-name {
    font-size: 60px;
  }
}

.poster__text-subject::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/subject_star.png) 0 0 no-repeat;
  margin-bottom: 7px;
  margin-right: 7px;
}

.poster__text-subject::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/subject_star.png) 0 0 no-repeat;
  margin-bottom: 7px;
  margin-left: 7px;
}

.poster__text-paragraph {
  font-family: "Adamina", cursive;
  font-size: 22px;
  margin: 21px 0 28px 0;
}

.poster__btn-link {
  background-color: #1bbaf0;
  color: white;
  width: 142px;
  height: 46px;
  border-radius: 21px;
  display: inline-block;
  line-height: 42px;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.poster__btn-link:hover {
  background-color: white;
  color: black;
}

.blue__line {
  height: 10px;
  background-color: #1bbaf0;
}

.steps {
  background-color: #31353d;
  color: white;
}

.steps__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .steps__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.steps__item {
  text-align: center;
  width: 268px;
}

.steps__title {
  position: relative;
  font-family: "Adamina", serif;
  font-size: 26px;
  padding-bottom: 30px;
}

@media (max-width: 960px) {
  .steps__title {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .steps__title {
    padding-bottom: 0;
    margin-bottom: 20px;
    font-size: 30px;
  }
}

.steps__title::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 51%;
  margin: 0 0 0 -12px;
  top: -50px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 11px solid #1bbaf0;
}

@media (max-width: 767px) {
  .steps__title::after {
    display: none;
  }
}

.steps__step-container {
  padding-bottom: 35px;
  margin-bottom: 25px;
  background: url(../images/number_star.png) center bottom no-repeat;
  position: relative;
  font-family: "Ewert", cursive;
  color: #c0c1c3;
  font-size: 88px;
  line-height: 88px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  .steps__step-container {
    font-size: 94px;
    line-height: 94px;
  }
}

.steps__step-container::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 1px;
  height: 10px;
  right: 134px;
  margin-right: 12px;
  background: url(../images/number_lines.png) center top repeat-x;
  width: 121.81818px;
}

@media (max-width: 1140px) {
  .steps__step-container::before {
    width: 76.57143px;
    margin-right: 0;
  }
}

@media (max-width: 960px) {
  .steps__step-container::before {
    right: 90px;
    width: 67px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .steps__step-container::before {
    width: 50%;
    right: 50%;
  }
}

.steps__step-container::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 1px;
  height: 10px;
  left: 134px;
  margin-left: 12px;
  background: url(../images/number_lines.png) center top repeat-x;
  width: 121.81818px;
}

@media (max-width: 1140px) {
  .steps__step-container::after {
    width: 76.57143px;
    margin-left: 0;
  }
}

@media (max-width: 960px) {
  .steps__step-container::after {
    width: 67px;
    left: 90px;
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .steps__step-container::after {
    width: 50%;
    left: 50%;
  }
}

.steps__info {
  font-family: "Adamina", serif;
  font-size: 12px;
  margin-bottom: 30px;
  padding: 0 30px;
  line-height: 20px;
}

@media (max-width: 960px) {
  .steps__info {
    padding: 0 15px;
  }
}

@media (max-width: 576px) {
  .steps__info {
    font-size: 16px;
  }
}

.steps__btn-link {
  text-align: center;
  background-color: white;
  color: black;
  width: 98px;
  height: 38px;
  border-radius: 21px;
  -webkit-box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
          box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
  display: inline-block;
  line-height: 34px;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.steps__btn-link:hover {
  background-color: #1bbaf0;
  color: white;
}

@media (max-width: 767px) {
  .steps__btn-link {
    margin-bottom: 20px;
  }
}

.gray__line {
  height: 10px;
  background-color: #c0c1c3;
}

.info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .info__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.info__left {
  margin-top: 60px;
  padding-right: 40px;
  background: url(../images/examples_border.png) right no-repeat round;
}

@media (max-width: 1140px) {
  .info__left {
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .info__left {
    background: none;
  }
}

@media (max-width: 576px) {
  .info__left {
    margin-top: 25px;
    padding-right: 0;
  }
}

.info__examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 576px) {
  .info__examples {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.info__example {
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  margin: 0 0 33px 0;
}

@media (max-width: 1140px) {
  .info__example {
    padding-right: 20px;
  }
}

@media (max-width: 960px) {
  .info__example {
    padding-right: 10px;
  }
}

.info__example-img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  -webkit-box-shadow: 10.4px 3.6px 0 0 #f5f5f5;
          box-shadow: 10.4px 3.6px 0 0 #f5f5f5;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

@media (max-width: 960px) {
  .info__example-img {
    width: 168px;
    height: 168px;
  }
}

@media (max-width: 576px) {
  .info__example-img {
    width: 70%;
    height: 70%;
  }
}

.info__example-title {
  font-family: "Adamina", cursive;
  font-size: 32px;
  line-height: 40px;
  padding: 20px 0;
}

@media (max-width: 576px) {
  .info__example-title {
    font-size: 36px;
  }
}

.info__example-link {
  color: black;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.info__example-link:visited {
  color: black;
}

.info__example-link:hover {
  color: #1bbaf0;
}

.info__example-text {
  font-family: "Adamina", cursive;
  font-size: 14px;
  line-height: 22px;
  color: #777777;
}

@media (max-width: 576px) {
  .info__example-text {
    font-size: 16px;
  }
}

.info__more {
  font-family: "Adamina", cursive;
  font-size: 18px;
  display: block;
  border-top: 2px dashed #e6e6e6;
  padding: 26px 0 0 0;
  font-size: 18px;
  color: #31353d;
}

.info__more-link {
  background: url(../images/readmore_star.png) left center no-repeat;
  padding: 0 0 0 18px;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.info__more-link:visited {
  color: #31353d;
}

.info__more-link:hover {
  color: #1bbaf0;
}

.info__volunteer {
  padding-left: 57px;
}

@media (max-width: 1140px) {
  .info__volunteer {
    padding-left: 20px;
  }
}

@media (max-width: 960px) {
  .info__volunteer {
    padding-left: 15px;
  }
}

@media (max-width: 576px) {
  .info__volunteer {
    padding-left: 0;
  }
}

.info__volunteer-title {
  font-family: "Bevan", cursive;
  font-size: 56px;
  line-height: 55px;
  color: #1bbaf0;
  margin-top: 94px;
  margin-bottom: 26px;
}

@media (max-width: 1140px) {
  .info__volunteer-title {
    font-size: 40px;
    line-height: 44px;
  }
}

@media (max-width: 767px) {
  .info__volunteer-title {
    margin-top: 32px;
  }
}

.info__volunteer-subtitle {
  font-family: "Adamina", cursive;
  font-size: 23px;
  line-height: 30px;
}

.info__volunteer-text {
  font-family: "Adamina", cursive;
  font-size: 14px;
  line-height: 22px;
  color: #777777;
  margin-top: 19px;
  margin-bottom: 31px;
}

.info__volunteer-link {
  text-align: center;
  width: 134px;
  height: 44px;
  color: white;
  background-color: #31353d;
  border-radius: 21px;
  display: inline-block;
  padding: 12px 0 13px 0;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.info__volunteer-link:visited {
  color: white;
}

.info__volunteer-link:hover {
  background-color: #1bbaf0;
}

.travel {
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 3px 3px rgba(31, 21, 10, 0.35);
}

.travel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/travel_background.jpg);
  -webkit-filter: blur(1px) brightness(0.65);
          filter: blur(1px) brightness(0.65);
  background-size: cover;
}

.travel__slogan {
  position: relative;
  font-family: "Bevan", cursive;
  font-size: 61px;
  line-height: 70px;
  padding-top: 80px;
  padding-bottom: 16px;
  margin-top: 40px;
}

@media (max-width: 767px) {
  .travel__slogan {
    font-size: 40px;
    line-height: 40px;
  }
}

@media (max-width: 576px) {
  .travel__slogan {
    padding-top: 40px;
  }
}

.travel__text {
  position: relative;
  font-family: "Adamina", serif;
  font-size: 22px;
  line-height: 28px;
  margin: 0 268px;
  padding-top: 30px;
  padding-bottom: 80px;
  background: url(../images/travel_border.png) top repeat-x;
}

@media (max-width: 1140px) {
  .travel__text {
    margin: 0;
  }
}

@media (max-width: 960px) {
  .travel__text {
    margin: 0;
  }
}

@media (max-width: 576px) {
  .travel__text {
    padding-bottom: 40px;
  }
}

.sponsors {
  padding: 50px 0;
}

@media (max-width: 960px) {
  .sponsors {
    padding: 30px 0;
  }
}

@media (max-width: 395px) {
  .sponsors {
    display: none;
  }
}

.sponsors__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 960px) {
  .sponsors__wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 576px) {
  .sponsors__wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.sponsors__sponsor {
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.sponsors__sponsor:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.footer {
  background-color: lightgrey;
}

.footer__menu {
  font-family: "Maiden Orange", cursive;
  font-size: 18px;
  line-height: 16px;
  padding-top: 52px;
  padding-bottom: 52px;
}

.footer__menu-list {
  text-align: center;
}

.footer__menu-item ~ .footer__menu-item {
  border-left: solid 1px #c0c1c3;
}

.footer__menu-item {
  display: inline-block;
  padding: 0 17px;
}

@media (max-width: 576px) {
  .footer__menu-item {
    padding: 0 5px;
  }
}

@media (max-width: 390px) {
  .footer__menu-item {
    padding: 0 3px;
    font-size: 15px;
  }
}

@media (max-width: 360px) {
  .footer__menu-item {
    padding: 0 2px;
  }
}

.footer__menu-item--active {
  color: #1bbaf0;
}

.footer__menu-link {
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.footer__menu-link:active {
  color: #1bbaf0;
}

.footer__menu-link:link {
  color: black;
}

.footer__menu-link:visited {
  color: black;
}

.footer__menu-link:hover {
  color: #1bbaf0;
}

.footer__menu-link--active {
  color: #1bbaf0 !important;
}

.footer__social {
  text-align: center;
}

.footer__social-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #c0c1c3;
  border-radius: 50px;
  margin: 0 7px;
  color: white;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.footer__social-link:hover {
  color: #1bbaf0;
}

.footer__social-img {
  padding-top: 11px;
}

.footer__copy {
  font-family: "Maiden Orange", cursive;
  font-size: 17px;
  line-height: 14px;
  text-align: center;
  padding: 37px 0;
}

.about-us {
  background: #31353d;
  color: white;
  border-top: 9px solid #1bbaf0;
  border-bottom: 11px solid #c0c1c3;
}

.about-us__wrapper {
  padding-top: 35px;
}

.about-us__title {
  font: 32px "Adamina", serif;
  margin-bottom: 30px;
}

.about-us__img1 {
  width: 280px;
  border-radius: 10px;
  float: left;
  margin: 0 30px 20px 0;
}

@media (max-width: 960px) {
  .about-us__img1 {
    width: 225px;
  }
}

@media (max-width: 767px) {
  .about-us__img1 {
    float: none;
    width: 280px;
    margin-right: 0;
  }
}

.about-us__title-small {
  font: 23px "Adamina", serif;
  margin-bottom: 14px;
}

.about-us__paragraph {
  font-family: "Adamina", serif;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px;
}

.about-us__img2 {
  width: 364px;
  border-radius: 10px;
  float: right;
  margin: 0 0 20px 30px;
}

@media (max-width: 960px) {
  .about-us__img2 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .about-us__img2 {
    float: none;
    width: 364px;
    margin-left: 0;
  }
}

@media (max-width: 400px) {
  .about-us__img2 {
    width: 100%;
  }
}

.offer {
  background-color: #f5f5f5;
  color: black;
}

.offer__head {
  color: #31353d;
  font: 32px "Adamina", serif;
  margin-bottom: 30px;
  padding-top: 30px;
}

.offer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .offer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 30px;
  }
}

.offer__item {
  text-align: center;
  width: 268px;
  margin-top: 20px;
}

@media (max-width: 576px) {
  .offer__item {
    width: auto;
  }
}

.offer__title {
  position: relative;
  font-family: "Adamina", serif;
  font-size: 14px;
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  .offer__title {
    padding-bottom: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .offer__title {
    font-size: 30px;
  }
}

.offer__offer-container {
  padding-bottom: 35px;
  margin-bottom: 25px;
  background: url(../images/number_star.png) center bottom no-repeat;
  position: relative;
  font-family: "Ewert", cursive;
  color: black;
  font-size: 88px;
  line-height: 88px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 576px) {
  .offer__offer-container {
    font-size: 94px;
    line-height: 94px;
  }
}

.offer__offer-container::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 1px;
  height: 10px;
  right: 134px;
  margin-right: 12px;
  background: url(../images/offer_lines.png) center top repeat-x;
  width: 121.81818px;
}

@media (max-width: 1140px) {
  .offer__offer-container::before {
    width: 76.57143px;
  }
}

@media (max-width: 960px) {
  .offer__offer-container::before {
    right: 90px;
    width: 67px;
  }
}

@media (max-width: 767px) {
  .offer__offer-container::before {
    width: 50%;
    right: 50%;
  }
}

.offer__offer-container::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 1px;
  height: 10px;
  left: 134px;
  margin-left: 12px;
  background: url(../images/offer_lines.png) center top repeat-x;
  width: 121.81818px;
}

@media (max-width: 1140px) {
  .offer__offer-container::after {
    width: 76.57143px;
  }
}

@media (max-width: 960px) {
  .offer__offer-container::after {
    width: 67px;
    left: 90px;
  }
}

@media (max-width: 767px) {
  .offer__offer-container::after {
    width: 50%;
    left: 50%;
  }
}

.offer__info {
  font-family: "Adamina", serif;
  color: #777;
  font-size: 12px;
  margin-bottom: 30px;
  line-height: 20px;
}

@media (max-width: 576px) {
  .offer__info {
    font-size: 16px;
  }
}

.offer__btn-link {
  text-align: center;
  background-color: #777;
  color: white;
  width: 130px;
  height: 44px;
  border-radius: 21px;
  -webkit-box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
          box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
  display: inline-block;
  line-height: 40px;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.offer__btn-link:hover {
  background-color: #1bbaf0;
}

@media (max-width: 767px) {
  .offer__btn-link {
    margin-bottom: 20px;
  }
}

.testimonials__head {
  color: #31353d;
  font: 32px "Adamina", serif;
  margin-bottom: 30px;
  padding-top: 60px;
}

@media (max-width: 767px) {
  .testimonials__head {
    padding-top: 30px;
  }
}

.testimonials__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .testimonials__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px;
  }
}

.testimonials__item {
  position: relative;
  margin-right: 10px;
}

.testimonials__item::before {
  position: absolute;
  content: "";
  background: url(../images/testimonials_quote.png);
  width: 60px;
  height: 60px;
  z-index: 2;
  top: 0;
  left: 0;
}

@media (max-width: 960px) {
  .testimonials__item {
    margin-right: 30px;
  }
}

.testimonials__img {
  float: left;
  border-radius: 50%;
  width: 190px;
  -webkit-box-shadow: 10px 4px 0 #e2e2e2;
          box-shadow: 10px 4px 0 #e2e2e2;
  margin-right: 30px;
  margin-bottom: 20px;
}

@media (max-width: 1140px) {
  .testimonials__img {
    width: 160px;
  }
}

@media (max-width: 960px) {
  .testimonials__img {
    width: 125px;
  }
}

@media (max-width: 767px) {
  .testimonials__img {
    width: 190px;
  }
}

@media (max-width: 576px) {
  .testimonials__img {
    width: 220px;
    float: none;
  }
}

.testimonials__paragraph {
  color: #777;
  font-family: "Adamina", serif;
  font-size: 14px;
  line-height: 22px;
}

.testimonials__name {
  color: #777;
  font-family: "Adamina", serif;
  font-size: 23px;
  padding: 20px 0 0;
  margin-bottom: 34px;
}

.slider {
  border-top: 9px solid #1bbaf0;
  border-bottom: 11px solid #c0c1c3;
  background-color: #fff;
}

.slider__title {
  font: 32px "Adamina", serif;
  margin-top: 40px;
}

@media (max-width: 960px) {
  .slider__title {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .slider__title {
    font-size: 26px;
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .slider__title {
    margin-top: 10px;
    font-size: 22px;
  }
}

.slider__wrapper {
  padding: 80px 0;
  height: 100%;
}

@media (max-width: 960px) {
  .slider__wrapper {
    padding: 60px 0;
  }
}

@media (max-width: 767px) {
  .slider__wrapper {
    padding: 40px 0;
  }
}

.slider__slide-img {
  border-radius: 15px;
  max-width: 100%;
}

@media (max-height: 500px) {
  .slider__slide-img {
    max-width: 50%;
    margin-left: 25%;
  }
}

.slider__prev::after {
  color: #1bbaf0;
}

@media (max-width: 767px) {
  .slider__prev::after {
    display: none;
  }
}

.slider__next::after {
  color: #1bbaf0;
}

@media (max-width: 767px) {
  .slider__next::after {
    display: none;
  }
}

.swiper-pagination-bullet-active {
  background-color: #1bbaf0 !important;
}

#map {
  height: 300px;
  width: 100%;
}

.strong {
  font-weight: bold;
}

.contact {
  padding: 60px 0 64px;
  background-color: #fff;
}

.contact__location-head {
  font: 32px "Adamina", serif;
  margin-bottom: 30px;
}

.contact__inner {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .contact__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__info {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.contact__info-head {
  font: 32px "Adamina", serif;
  margin-bottom: 30px;
}

.contact__info-title {
  font: 23px "Adamina", serif;
  margin-bottom: 14px;
}

.contact__info-paragraph {
  color: #777;
  font-family: "Adamina", serif;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}

.contact__info-contacts {
  margin-bottom: 22px;
  color: #777;
  font-family: "Adamina", serif;
  font-size: 14px;
  line-height: 22px;
}

.contact__info-email {
  color: #1bbaf0;
}

.contact__info-email:hover {
  color: #777;
}

.contact__form {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

.contact__form-head {
  font: 32px "Adamina", serif;
  margin-bottom: 30px;
}

.contact__form-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 576px) {
  .contact__form-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__form-name {
  border: 1px solid #d8d8da;
  color: #777;
  font: 14px "Adamina", serif;
  padding: 5px 10px 6px;
  width: 100%;
}

@media (max-width: 576px) {
  .contact__form-name {
    width: 100%;
  }
}

.contact__form-email {
  border: 1px solid #d8d8da;
  color: #777;
  font: 14px "Adamina", serif;
  padding: 5px 10px 6px;
  width: 100%;
}

@media (max-width: 576px) {
  .contact__form-email {
    width: 100%;
  }
}

.contact__form-subject {
  border: 1px solid #d8d8da;
  color: #777;
  font: 14px "Adamina", serif;
  padding: 5px 10px 6px;
  width: 100%;
}

@media (max-width: 576px) {
  .contact__form-subject {
    width: 100%;
  }
}

.contact__form-message {
  border: 1px solid #d8d8da;
  color: #777;
  font: 14px "Adamina", serif;
  padding: 5px 10px 6px;
  display: block;
  width: 100%;
  min-height: 145px;
  resize: vertical;
}

.contact__form-clear {
  text-align: center;
  background-color: #4d5057;
  color: white;
  width: 90px;
  height: 44px;
  border-radius: 21px;
  -webkit-box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
          box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
  display: inline-block;
  line-height: 40px;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
  border: none;
  font: 16px "Adamina", serif;
  padding-bottom: 3px;
  margin-right: 10px;
}

.contact__form-clear:hover {
  background-color: #1bbaf0;
}

@media (max-width: 767px) {
  .contact__form-clear {
    margin-bottom: 20px;
  }
}

.contact__form-submit {
  text-align: center;
  background-color: #4d5057;
  color: white;
  width: 160px;
  height: 44px;
  border-radius: 21px;
  -webkit-box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
          box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
  display: inline-block;
  line-height: 40px;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
  border: none;
  font: 16px "Adamina", serif;
  padding-bottom: 3px;
}

.contact__form-submit:hover {
  background-color: #1bbaf0;
}

@media (max-width: 767px) {
  .contact__form-submit {
    margin-bottom: 20px;
  }
}

.form-control {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  position: relative;
  padding-bottom: 30px;
}

.form-control i {
  position: absolute;
  top: 8px;
  right: 8px;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  bottom: 10px;
  left: 3px;
  font: 16px "Adamina", serif;
  color: #e74c3c;
  visibility: hidden;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.success i.fa-check-circle {
  visibility: visible;
  color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control.success textarea {
  border-color: #2ecc71;
}

.form-control.error textarea {
  border-color: #e74c3c;
}

.form-control.error i.fa-exclamation-circle {
  visibility: visible;
  color: #e74c3c;
}

.form-control.error small {
  visibility: visible;
  color: #e74c3c;
  font-size: 12px;
}

@media (max-width: 960px) {
  .form-control.error small {
    font-size: 10px;
  }
}

.blog {
  font-family: "Adamina", serif;
  color: #31353d;
  -ms-flex-preferred-size: 63%;
      flex-basis: 63%;
  background-color: #fff;
}

.blog__wrapper {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .blog__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blog__head {
  font-size: 32px;
  margin-bottom: 30px;
}

.blog__article {
  color: #777;
  margin-bottom: 50px;
}

.blog__article-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  font-size: 14px;
}

@media (max-width: 494px) {
  .blog__article-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blog__article-title {
  font-size: 12px;
  margin-bottom: 10px;
  color: #31353d;
  display: inline-block;
}

.blog__article-author::before {
  content: "\f007";
  font-family: "Font Awesome 5 Free";
  color: #1bbaf0;
  margin-right: 10px;
}

@media (max-width: 494px) {
  .blog__article-author {
    padding: 6px 3px;
    border-bottom: 1px solid #d8d8da;
  }
}

.blog__article-date {
  padding-left: 10px;
}

.blog__article-date::before {
  content: "\f073";
  font-family: "Font Awesome 5 Free";
  color: #1bbaf0;
  margin-right: 10px;
}

@media (max-width: 494px) {
  .blog__article-date {
    padding: 6px 3px;
    border-bottom: 1px solid #d8d8da;
  }
}

.blog__article-views {
  padding-left: 10px;
}

.blog__article-views::before {
  content: "\f06e";
  font-family: "Font Awesome 5 Free";
  color: #1bbaf0;
  margin-right: 10px;
}

@media (max-width: 494px) {
  .blog__article-views {
    padding: 6px 3px;
    border-bottom: 1px solid #d8d8da;
  }
}

.blog__article-comments {
  padding-left: 10px;
}

.blog__article-comments::before {
  content: "\f075";
  font-family: "Font Awesome 5 Free";
  color: #1bbaf0;
  margin-right: 10px;
}

@media (max-width: 494px) {
  .blog__article-comments {
    padding: 6px 3px;
    border-bottom: 1px solid #d8d8da;
  }
}

.blog__article-img {
  float: left;
  width: 40%;
  margin: 0 20px 20px 0;
}

@media (max-width: 576px) {
  .blog__article-img {
    float: none;
    width: 100%;
    margin-right: 0;
  }
}

.blog__article-footer {
  padding-top: 30px;
  clear: both;
}

.blog__btn-more {
  text-align: center;
  background-color: #4d5057;
  color: white;
  width: 130px;
  height: 44px;
  border-radius: 21px;
  -webkit-box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
          box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
  display: inline-block;
  line-height: 40px;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
  margin: 0 15px 10px 0;
}

.blog__btn-more:hover {
  background-color: #1bbaf0;
}

.blog__btn-blog {
  text-align: center;
  background-color: #4d5057;
  color: white;
  width: 130px;
  height: 44px;
  border-radius: 21px;
  -webkit-box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
          box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
  display: inline-block;
  line-height: 40px;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
  margin: 0 15px 10px 0;
}

.blog__btn-blog:hover {
  background-color: #1bbaf0;
}

.blog__btn-login {
  text-align: center;
  background-color: #4d5057;
  color: white;
  width: 90px;
  height: 44px;
  border-radius: 21px;
  -webkit-box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
          box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
  display: inline-block;
  line-height: 40px;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
  margin: 0 0 10px 0;
}

.blog__btn-login:hover {
  background-color: #1bbaf0;
}

.blog__page-1 {
  text-align: center;
  background-color: #1bbaf0;
  color: white;
  width: 64px;
  height: 44px;
  border-radius: 21px;
  -webkit-box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
          box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
  display: inline-block;
  line-height: 40px;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
  margin: 0 15px 10px 0;
}

.blog__page-1:hover {
  background-color: #1bbaf0;
}

.blog__page-2 {
  text-align: center;
  background-color: #4d5057;
  color: white;
  width: 64px;
  height: 44px;
  border-radius: 21px;
  -webkit-box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
          box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
  display: inline-block;
  line-height: 40px;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
  margin: 0 15px 10px 0;
}

.blog__page-2:hover {
  background-color: #1bbaf0;
}

.blog__page-next {
  text-align: center;
  background-color: #4d5057;
  color: white;
  width: 84px;
  height: 44px;
  border-radius: 21px;
  -webkit-box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
          box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
  display: inline-block;
  line-height: 40px;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
  margin: 0 15px 10px 0;
}

.blog__page-next:hover {
  background-color: #1bbaf0;
}

.blog__page-last {
  text-align: center;
  background-color: #4d5057;
  color: white;
  width: 84px;
  height: 44px;
  border-radius: 21px;
  -webkit-box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
          box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
  display: inline-block;
  line-height: 40px;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
  margin: 0 15px 10px 0;
}

.blog__page-last:hover {
  background-color: #1bbaf0;
}

.aside {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  color: #777;
  font-size: 14px;
}

.categories {
  font-family: "Adamina", serif;
  color: #31353d;
}

@media (max-width: 767px) {
  .categories {
    margin-top: 30px;
  }
}

.categories__head {
  font-size: 32px;
  margin-bottom: 30px;
}

.categories__list {
  color: #777;
  font-size: 14px;
  line-height: 32px;
}

.categories__category::before {
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
}

.categories__link {
  color: #777;
}

.categories__link:hover {
  color: #1bbaf0;
}

.poll {
  margin-top: 50px;
  font-family: "Adamina", serif;
  color: #777;
}

.poll__head {
  font-size: 32px;
  margin-bottom: 30px;
  color: #31353d;
}

.poll__question {
  padding-bottom: 15px;
}

.poll__option-percent {
  float: right;
}

.poll__bar {
  width: 100%;
  height: 24px;
  border: 1px solid #d8d8da;
  margin: 3px 0 15px 0;
}

.poll__bar-fill {
  height: 20px;
  background-color: #1bbaf0;
  margin: 1px;
}

.poll__total {
  text-align: center;
  margin-bottom: 15px;
}

.poll__older {
  font-size: 16px;
  text-align: center;
  background-color: #4d5057;
  color: white;
  width: 130px;
  height: 44px;
  border-radius: 21px;
  -webkit-box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
          box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
  display: inline-block;
  line-height: 40px;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.poll__older:hover {
  background-color: #1bbaf0;
}
