@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Adamina", cursive;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1140px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 960px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.background {
  background-image: url(../images/header_background.jpg);
  background-position: center;
}

.header__menu {
  float: left;
  width: 172px;
  height: 270px;
  background-color: black;
}

@media (max-width: 767px) {
  .header__menu {
    top: -100%;
    float: none;
    height: 100%;
    width: 100%;
    position: fixed;
    margin-top: 0px;
    z-index: 10;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
    margin-top: 37px;
  }
}

.header__burger {
  display: none;
  z-index: 50;
}

@media (max-width: 767px) {
  .header__burger {
    position: fixed;
    top: 10px;
    right: 10px;
    display: block;
    width: 30px;
    height: 20px;
    z-index: 50;
  }
  .header__burger::before {
    content: "";
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::after {
    content: "";
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    position: absolute;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.header__menu-list {
  width: 118px;
  height: 150px;
  margin: 0px 15px 0px 39px;
  font-family: "Maiden Orange", cursive;
  font-size: 24px;
  line-height: 1.38;
  text-align: left;
}

@media (max-width: 767px) {
  .header__menu-list {
    height: 100%;
    width: 100%;
    font-size: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
    margin: 0;
  }
}

.header__menu-link {
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.header__menu-link:hover::after {
  content: url(../images/menu_star.png);
  position: relative;
  overflow: visible;
  left: 5px;
  bottom: 3px;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.header__menu-link:active {
  color: #1bbaf0;
}

.header__menu-link:link {
  color: white;
}

.header__menu-link:visited {
  color: white;
}

.header__menu-link:hover {
  color: #1bbaf0;
}

.header__logo {
  text-shadow: 6px 10.4px 0 rgba(81, 81, 81, 0.75);
  padding-top: 180px;
  padding-right: 172px;
  font-family: Bevan;
  font-size: 130px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 1140px) {
  .header__logo {
    font-size: 88px;
  }
}

@media (max-width: 960px) {
  .header__logo {
    padding-top: 160px;
    font-size: 64px;
    padding-right: 120px;
  }
}

@media (max-width: 767px) {
  .header__logo {
    padding-right: 0;
    padding-top: 110px;
  }
}

.header__logo-stripe {
  font-family: "Maiden Orange", cursive;
  font-size: 24px;
  line-height: 54px;
  text-align: center;
  color: #ffffff;
  margin-top: 70px;
  text-transform: uppercase;
  background-image: url(../images/stripe.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 3px;
  padding-right: 172px;
  padding-bottom: 80px;
}

.header__logo-stripe::after {
  content: url(../images/stripe_star.png);
  position: relative;
  bottom: 5px;
  left: 7px;
}

.header__logo-stripe::before {
  content: url(../images/stripe_star.png);
  position: relative;
  bottom: 5px;
  right: 7px;
}

@media (max-width: 1140px) {
  .header__logo-stripe {
    font-size: 18px;
    background-size: 330px;
    line-height: 44px;
  }
  .header__logo-stripe::after {
    bottom: 3px;
    left: 5px;
  }
  .header__logo-stripe::before {
    bottom: 3px;
    right: 5px;
  }
}

@media (max-width: 960px) {
  .header__logo-stripe {
    font-size: 16px;
    margin-top: 40px;
    padding-right: 0;
    margin-right: 120px;
    background-size: 280px;
    margin-left: 172px;
    line-height: 38px;
  }
}

@media (max-width: 767px) {
  .header__logo-stripe {
    margin-right: 0;
    margin-left: 0;
  }
}

.menu__border {
  width: 137px;
  height: 11px;
  margin: 24px 18px 20px 18px;
}

@media (max-width: 767px) {
  .menu__border {
    display: none;
  }
}

.poster-wrapper {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
}

.poster {
  background-image: url(../images/poster_background.png);
  text-align: center;
  background-repeat: repeat-x;
  background-size: auto 100%;
}

.poster__border {
  height: 11px;
  background-image: url(../images/poster_border.png);
}

.poster-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 960px) {
  .poster-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.poster__photo {
  margin: 55px 83px 79px 0;
}

@media (max-width: 960px) {
  .poster__photo {
    margin: 35px 0 0 0;
  }
}

.poster__photo-img {
  height: 365px;
  width: 365px;
  border-radius: 500px;
  -webkit-box-shadow: 0 0 0 16px rgba(255, 255, 255, 0.144);
          box-shadow: 0 0 0 16px rgba(255, 255, 255, 0.144);
}

@media (max-width: 1140px) {
  .poster__photo-img {
    height: 282px;
    width: 282px;
    margin-left: 10px;
  }
}

.poster__text {
  width: 670px;
  padding-top: 36px;
  color: #fffffe;
}

@media (max-width: 767px) {
  .poster__text {
    width: 100%;
  }
}

.poster__text-main {
  font-family: "Maiden Orange", cursive;
  font-size: 48px;
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.07);
  line-height: 1.15;
  margin: 20px 0 17px 0;
}

.poster__text-date {
  font-size: 48px;
}

.poster__text-days {
  color: #1bbaf0;
}

.poster__text-name {
  font-family: "Ewert", cursive;
  font-size: 78px;
}

@media (max-width: 1140px) {
  .poster__text-name {
    font-size: 60px;
  }
}

.poster__text-subject::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/subject_star.png) 0 0 no-repeat;
  margin-bottom: 7px;
  margin-right: 7px;
}

.poster__text-subject::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/subject_star.png) 0 0 no-repeat;
  margin-bottom: 7px;
  margin-left: 7px;
}

.poster__text-paragraph {
  font-family: "Adamina", cursive;
  font-size: 22px;
  margin: 21px 0 28px 0;
}

.poster__btn-link {
  background-color: #1bbaf0;
  color: white;
  width: 142px;
  height: 46px;
  border-radius: 21px;
  display: inline-block;
  line-height: 42px;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.poster__btn-link:hover {
  background-color: white;
  color: black;
}

.blue__line {
  height: 10px;
  background-color: #1bbaf0;
}

.steps {
  background-color: #31353d;
  color: white;
}

.steps__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .steps__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.steps__item {
  text-align: center;
  width: 268px;
}

.steps__title {
  position: relative;
  font-family: "Adamina", serif;
  font-size: 26px;
  padding-bottom: 30px;
}

@media (max-width: 960px) {
  .steps__title {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .steps__title {
    padding-bottom: 0;
    margin-bottom: 20px;
  }
}

.steps__title::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 51%;
  margin: 0 0 0 -12px;
  top: -50px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 11px solid #1bbaf0;
}

@media (max-width: 767px) {
  .steps__title::after {
    display: none;
  }
}

.steps__step-container {
  padding-bottom: 35px;
  margin-bottom: 25px;
  background: url(../images/number_star.png) center bottom no-repeat;
  position: relative;
  font-family: "Ewert", cursive;
  color: #c0c1c3;
  font-size: 88px;
  line-height: 88px;
  position: relative;
  overflow: hidden;
}

.steps__step-container::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 1px;
  height: 10px;
  right: 134px;
  margin-right: 12px;
  background: url(../images/number_lines.png) center top repeat-x;
  width: 121.81818px;
}

@media (max-width: 1140px) {
  .steps__step-container::before {
    width: 76.57143px;
  }
}

@media (max-width: 960px) {
  .steps__step-container::before {
    right: 90px;
    width: 67px;
  }
}

@media (max-width: 767px) {
  .steps__step-container::before {
    width: 50%;
    right: 50%;
  }
}

.steps__step-container::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 1px;
  height: 10px;
  left: 134px;
  margin-left: 12px;
  background: url(../images/number_lines.png) center top repeat-x;
  width: 121.81818px;
}

@media (max-width: 1140px) {
  .steps__step-container::after {
    width: 76.57143px;
  }
}

@media (max-width: 960px) {
  .steps__step-container::after {
    width: 67px;
    left: 90px;
  }
}

@media (max-width: 767px) {
  .steps__step-container::after {
    width: 50%;
    left: 50%;
  }
}

.steps__info {
  font-family: "Adamina", serif;
  font-size: 12px;
  margin-bottom: 30px;
  padding: 0 30px;
  line-height: 20px;
}

@media (max-width: 960px) {
  .steps__info {
    padding: 0 15px;
  }
}

.steps__btn-link {
  text-align: center;
  background-color: white;
  color: black;
  width: 98px;
  height: 38px;
  border-radius: 21px;
  -webkit-box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
          box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
  display: inline-block;
  line-height: 34px;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.steps__btn-link:hover {
  background-color: #1bbaf0;
  color: white;
}

@media (max-width: 767px) {
  .steps__btn-link {
    margin-bottom: 20px;
  }
}

.gray__line {
  height: 10px;
  background-color: #c0c1c3;
}

.info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .info__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.info__left {
  margin-top: 60px;
  padding-right: 40px;
  background: url(../images/examples_border.png) right no-repeat round;
}

@media (max-width: 1140px) {
  .info__left {
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .info__left {
    background: none;
  }
}

.info__examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__example {
  padding-right: 55px;
  margin: 0 0 33px 0;
}

@media (max-width: 1140px) {
  .info__example {
    padding-right: 20px;
  }
}

@media (max-width: 960px) {
  .info__example {
    padding-right: 10px;
  }
}

.info__example-img {
  width: 190px;
  height: 190px;
  border-radius: 95px;
  -webkit-box-shadow: 10.4px 3.6px 0 0 #f5f5f5;
          box-shadow: 10.4px 3.6px 0 0 #f5f5f5;
}

@media (max-width: 960px) {
  .info__example-img {
    width: 168px;
    height: 168px;
  }
}

.info__example-title {
  font-family: "Adamina", cursive;
  font-size: 32px;
  line-height: 40px;
  padding: 20px 0;
}

.info__example-link {
  color: black;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.info__example-link:visited {
  color: black;
}

.info__example-link:hover {
  color: #1bbaf0;
}

.info__example-text {
  font-family: "Adamina", cursive;
  font-size: 14px;
  line-height: 22px;
  color: #777777;
}

.info__more {
  font-family: "Adamina", cursive;
  font-size: 18px;
  display: block;
  border-top: 2px dashed #e6e6e6;
  padding: 26px 0 0 0;
  font-size: 18px;
  color: #31353d;
}

.info__more-link {
  background: url(../images/readmore_star.png) left center no-repeat;
  padding: 0 0 0 18px;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.info__more-link:visited {
  color: #31353d;
}

.info__more-link:hover {
  color: #1bbaf0;
}

.info__volunteer {
  padding-left: 57px;
}

@media (max-width: 1140px) {
  .info__volunteer {
    padding-left: 20px;
  }
}

@media (max-width: 960px) {
  .info__volunteer {
    padding-left: 15px;
  }
}

.info__volunteer-title {
  font-family: "Bevan", cursive;
  font-size: 56px;
  line-height: 55px;
  color: #1bbaf0;
  margin-top: 94px;
  margin-bottom: 26px;
}

@media (max-width: 1140px) {
  .info__volunteer-title {
    font-size: 40px;
    line-height: 44px;
  }
}

@media (max-width: 767px) {
  .info__volunteer-title {
    margin-top: 32px;
  }
}

.info__volunteer-subtitle {
  font-family: "Adamina", cursive;
  font-size: 23px;
  line-height: 30px;
}

.info__volunteer-text {
  font-family: "Adamina", cursive;
  font-size: 14px;
  line-height: 22px;
  color: #777777;
  margin-top: 19px;
  margin-bottom: 31px;
}

.info__volunteer-link {
  text-align: center;
  width: 134px;
  height: 44px;
  color: white;
  background-color: #31353d;
  border-radius: 21px;
  display: inline-block;
  padding: 12px 0 13px 0;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.info__volunteer-link:visited {
  color: white;
}

.info__volunteer-link:hover {
  background-color: #1bbaf0;
}

.travel {
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 3px 3px rgba(31, 21, 10, 0.35);
}

.travel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/travel_background.jpg);
  -webkit-filter: blur(1px) brightness(0.65);
          filter: blur(1px) brightness(0.65);
  background-size: cover;
}

.travel__slogan {
  position: relative;
  font-family: "Bevan", cursive;
  font-size: 61px;
  line-height: 70px;
  padding-top: 80px;
  padding-bottom: 16px;
  margin-top: 40px;
}

@media (max-width: 767px) {
  .travel__slogan {
    font-size: 40px;
    line-height: 40px;
  }
}

.travel__text {
  position: relative;
  font-family: "Adamina", serif;
  font-size: 22px;
  line-height: 28px;
  margin: 0 268px;
  padding-top: 30px;
  padding-bottom: 80px;
  background: url(../images/travel_border.png) top repeat-x;
}

@media (max-width: 1140px) {
  .travel__text {
    margin: 0;
  }
}

@media (max-width: 960px) {
  .travel__text {
    margin: 0;
  }
}

.sponsors {
  padding: 65px 0 50px;
}

@media (max-width: 960px) {
  .sponsors {
    padding: 30px 0;
  }
}

.sponsors__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 960px) {
  .sponsors__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.sponsors__sponsor {
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.sponsors__sponsor:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.footer {
  background-color: lightgrey;
}

.footer__menu {
  font-family: "Maiden Orange", cursive;
  font-size: 18px;
  line-height: 16px;
  padding-top: 52px;
  padding-bottom: 52px;
}

.footer__menu-list {
  text-align: center;
}

.footer__menu-item ~ .footer__menu-item {
  border-left: solid 1px #c0c1c3;
}

.footer__menu-item {
  display: inline-block;
  padding: 0 17px;
}

.footer__menu-item--active {
  color: #1bbaf0;
}

.footer__menu-link {
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.footer__menu-link:active {
  color: #1bbaf0;
}

.footer__menu-link:link {
  color: black;
}

.footer__menu-link:visited {
  color: black;
}

.footer__menu-link:hover {
  color: #1bbaf0;
}

.footer__social {
  text-align: center;
}

.footer__social-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #c0c1c3;
  border-radius: 50px;
  margin: 0 7px;
  color: white;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

.footer__social-link:hover {
  color: #1bbaf0;
}

.footer__social-img {
  padding-top: 11px;
}

.footer__copy {
  font-family: "Maiden Orange", cursive;
  font-size: 17px;
  line-height: 14px;
  text-align: center;
  padding: 37px 0;
}
