// font-family: 'Adamina', serif;
// font-family: 'Bevan', cursive;
// font-family: 'Ewert', cursive;
// font-family: 'Maiden Orange', cursive;
$itemWidth: 268px;
$blue: #1bbaf0;
body {
    @media (max-width: 767px) {
        &.lock {
            overflow: hidden;
        }
    }
}
html {
    box-sizing: border-box;
    font-family: "Adamina", cursive;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
a {
    text-decoration: none;
    transition: all 0.35s ease 0s;
}

// Адаптивный контейнер

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    @media (max-width: 1400px) {
        max-width: 1140px;
    }
    @media (max-width: 1140px) {
        max-width: 960px;
    }
    @media (max-width: 960px) {
        max-width: 720px;
    }
    @media (max-width: 767px) {
        max-width: none;
    }
}

// Фоновое изображение

.background {
    background-image: url(../images/header_background.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover 1300px;
    z-index: -1;
    @media (max-width: 576px) {
        background-size: cover 700px;
    }
}

// Хедер и меню, для всех страниц

.header {
    &__menu {
        float: left;
        width: 172px;
        height: 270px;
        background-color: black;
        @media (max-width: 767px) {
            top: -100%;
            float: none;
            height: 100%;
            width: 100%;
            position: fixed;
            margin-top: 0px;
            z-index: 10;
            transition: all 0.3s ease 0s;
            overflow: auto;
            &.active {
                top: 0;
                // margin-top: 37px;
            }
        }
    }
    &__burger {
        display: none;
        z-index: 50;

        @media (max-width: 767px) {
            position: fixed;
            top: 10px;
            right: 10px;
            display: block;
            width: 30px;
            height: 20px;
            z-index: 50;
            // background-color: black;
            border-radius: 5px;
            &::before {
                content: "";
                background-color: $blue;
                width: 100%;
                height: 2px;
                left: 0;
                top: 0;
                position: absolute;
                transition: all 0.3s ease 0s;
            }
            &::after {
                content: "";
                background-color: $blue;
                width: 100%;
                height: 2px;
                left: 0;
                bottom: 0;
                position: absolute;
                transition: all 0.3s ease 0s;
            }
            span {
                position: absolute;
                background-color: $blue;
                left: 0;
                width: 100%;
                height: 2px;
                top: 9px;
                transition: all 0.3s ease 0s;
            }
            &.active {
                &::before {
                    transform: rotate(45deg);
                    top: 9px;
                }
                &::after {
                    transform: rotate(-45deg);
                    bottom: 9px;
                }
                span {
                    transform: scale(0);
                }
            }
        }
    }

    &__menu-list {
        width: 118px;
        height: 150px;
        margin: 0px 15px 0px 39px;
        font-family: "Maiden Orange", cursive;
        font-size: 24px;
        line-height: 1.38;
        text-align: left;
        @media (max-width: 767px) {
            height: 100%;
            width: 100%;
            font-size: 54px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            margin: 0;
        }
        @media (max-height: 362px) {
            display: block;
        }
    }
    &__menu-item {
    }
    &__menu-link {
        transition: all 0.35s ease 0s;
        &::after {
            opacity: 0;
            content: url(../images/menu_star.png);
            position: relative;
            overflow: visible;
            left: 5px;
            bottom: 3px;
            opacity: 0;
            transition: all 0.35s ease 0s;
        }
        &:hover::after {
            opacity: 1;
        }
        @media (max-width: 767px) {
            &:hover::after {
                display: none;
            }
            &::after {
                content: "";
            }
        }
        &:active {
            color: #1bbaf0;
        }
        &:link {
            color: white;
        }
        &:visited {
            color: white;
        }
        &:hover {
            color: #1bbaf0;
        }
        &--active {
            color: $blue !important;
            &::after {
                opacity: 1;
            }
        }
    }
    &__logo {
        text-shadow: 6px 10.4px 0 rgba(81, 81, 81, 0.75);
        padding-top: 180px;
        padding-right: 172px;
        font-family: Bevan;
        font-size: 130px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.1;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        @media (max-width: 1140px) {
            font-size: 88px;
        }
        @media (max-width: 960px) {
            padding-top: 160px;
            font-size: 64px;
            padding-right: 120px;
        }
        @media (max-width: 767px) {
            padding-right: 0;
            padding-top: 110px;
        }
        @media (max-width: 395px) {
            font-size: 58px;
        }
        @media (max-width: 360px) {
            font-size: 48px;
            padding-top: 60px;
        }
    }
    &__logo-stripe {
        font-family: "Maiden Orange", cursive;
        font-size: 24px;
        line-height: 54px;
        text-align: center;
        color: #ffffff;
        margin-top: 70px;
        text-transform: uppercase;
        background-image: url(../images/stripe.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 3px;
        padding-right: 172px;
        padding-bottom: 80px;
        &::after {
            content: url(../images/stripe_star.png);
            position: relative;
            bottom: 5px;
            left: 7px;
        }
        &::before {
            content: url(../images/stripe_star.png);
            position: relative;
            bottom: 5px;
            right: 7px;
        }
        @media (max-width: 1140px) {
            font-size: 22px;
            background-size: 330px;
            line-height: 44px;
            &::after {
                bottom: 4px;
                left: 5px;
            }
            &::before {
                bottom: 4px;
                right: 5px;
            }
        }
        @media (max-width: 960px) {
            font-size: 16px;
            margin-top: 40px;
            padding-right: 0;
            margin-right: 120px;
            background-size: 280px;
            margin-left: 172px;
            line-height: 38px;
            &::after {
                bottom: 2px;
                left: 5px;
            }
            &::before {
                bottom: 2px;
                right: 5px;
            }
        }
        @media (max-width: 767px) {
            margin-right: 0;
            margin-left: 0;
        }
        @media (max-width: 360px) {
            font-size: 14px;
            background-size: 270px;
            line-height: 34px;
        }
    }
}
.menu {
    &__border {
        width: 137px;
        height: 11px;
        margin: 24px 18px 20px 18px;
        @media (max-width: 767px) {
            display: none;
        }
    }
}

// Секция poster

.poster-wrapper {
    z-index: 1;
    display: flex;
    padding-bottom: 30px;
}

.poster {
    background-image: url(../images/poster_background.png);
    text-align: center;
    background-repeat: repeat-x;
    background-size: auto 100%;
    &__border {
        height: 11px;
        background-image: url(../images/poster_border.png);
    }
    &-wrapper {
        display: flex;
        @media (max-width: 960px) {
            flex-direction: column;
        }
    }
    &__photo {
        margin: 55px 83px 79px 0;
        @media (max-width: 960px) {
            margin: 35px 0 0 0;
        }
    }

    &__photo-img {
        height: 365px;
        width: 365px;
        border-radius: 500px;
        box-shadow: 0 0 0 16px rgba(255, 255, 255, 0.144);
        filter: grayscale(100%);
        @media (max-width: 1140px) {
            height: 282px;
            width: 282px;
            margin-left: 10px;
        }
        @media (max-width: 360px) {
            height: 240px;
            width: 240px;
        }
    }
    &__text {
        width: 670px;
        padding-top: 36px;
        color: #fffffe;
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    &__text-main {
        font-family: "Maiden Orange", cursive;
        font-size: 48px;
        text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.07);
        line-height: 1.15;
        margin: 20px 0 17px 0;
    }
    &__text-date {
        font-size: 48px;
    }
    &__text-days {
        color: #1bbaf0;
    }
    &__text-name {
        font-family: "Ewert", cursive;
        font-size: 78px;
        @media (max-width: 1140px) {
            font-size: 60px;
        }
    }
    &__text-subject {
        &::before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url(../images/subject_star.png) 0 0 no-repeat;
            margin-bottom: 7px;
            margin-right: 7px;
        }
        &::after {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url(../images/subject_star.png) 0 0 no-repeat;
            margin-bottom: 7px;
            margin-left: 7px;
        }
    }
    &__text-paragraph {
        font-family: "Adamina", cursive;
        font-size: 22px;
        margin: 21px 0 28px 0;
    }
    &__btn-link {
        background-color: #1bbaf0;
        color: white;
        width: 142px;
        height: 46px;
        border-radius: 21px;
        display: inline-block;
        line-height: 42px;
        transition: all 0.35s ease 0s;
        &:hover {
            background-color: white;
            color: black;
        }
    }
}
.blue__line {
    height: 10px;
    background-color: #1bbaf0;
}

// Секция Steps

.steps {
    background-color: #31353d;
    color: white;
    &__wrapper {
        display: flex;
        padding: 50px 0;
        justify-content: space-between;
        @media (max-width: 767px) {
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    &__item {
        text-align: center;
        width: $itemWidth;
    }

    &__title {
        position: relative;
        font-family: "Adamina", serif;
        font-size: 26px;
        padding-bottom: 30px;
        @media (max-width: 960px) {
            font-size: 18px;
        }
        @media (max-width: 767px) {
            padding-bottom: 0;
            margin-bottom: 20px;
            font-size: 30px;
        }
        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            left: 51%;
            margin: 0 0 0 -12px;
            top: -50px;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-top: 11px solid #1bbaf0;
        }
        @media (max-width: 767px) {
            &::after {
                display: none;
            }
        }
    }

    // ? тут надо разобраться

    &__step-container {
        padding-bottom: 35px;
        margin-bottom: 25px;
        background: url(../images/number_star.png) center bottom no-repeat;
        position: relative;
        font-family: "Ewert", cursive;
        color: #c0c1c3;
        font-size: 88px;
        line-height: 88px;
        position: relative;
        overflow: hidden;
        @media (max-width: 767px) {
            font-size: 94px;
            line-height: 94px;
        }
        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            bottom: 1px;
            height: 10px;
            right: $itemWidth/2;
            margin-right: 12px;
            background: url(../images/number_lines.png) center top repeat-x;
            width: $itemWidth/2.2;
            @media (max-width: 1140px) {
                width: $itemWidth/3.5;
                margin-right: 0;
            }
            @media (max-width: 960px) {
                right: 90px;
                width: $itemWidth/4;
                margin-right: 10px;
            }
            @media (max-width: 767px) {
                width: 50%;
                right: 50%;
            }
        }
        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            bottom: 1px;
            height: 10px;
            left: $itemWidth/2;
            margin-left: 12px;
            background: url(../images/number_lines.png) center top repeat-x;
            width: $itemWidth/2.2;
            @media (max-width: 1140px) {
                width: $itemWidth/3.5;
                margin-left: 0;
            }
            @media (max-width: 960px) {
                width: $itemWidth/4;
                left: 90px;
                margin-left: 10px;
            }
            @media (max-width: 767px) {
                width: 50%;
                left: 50%;
            }
        }
    }
    &__info {
        font-family: "Adamina", serif;
        font-size: 12px;
        margin-bottom: 30px;
        padding: 0 30px;
        line-height: 20px;
        @media (max-width: 960px) {
            padding: 0 15px;
        }
        @media (max-width: 576px) {
            font-size: 16px;
        }
    }
    &__btn-link {
        text-align: center;
        background-color: white;
        color: black;
        width: 98px;
        height: 38px;
        border-radius: 21px;
        box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
        display: inline-block;
        line-height: 34px;
        transition: all 0.35s ease 0s;
        &:hover {
            background-color: #1bbaf0;
            color: white;
        }
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }
}
.gray__line {
    height: 10px;
    background-color: #c0c1c3;
}

// Секция Info

.info {
    &__wrapper {
        display: flex;
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }
    &__left {
        margin-top: 60px;
        padding-right: 40px;
        background: url(../images/examples_border.png) right no-repeat round;
        @media (max-width: 1140px) {
            padding-right: 20px;
        }
        @media (max-width: 960px) {
        }
        @media (max-width: 767px) {
            background: none;
        }
        @media (max-width: 576px) {
            margin-top: 25px;
            padding-right: 0;
        }
    }
    &__examples {
        display: flex;
        justify-content: space-between;
        @media (max-width: 576px) {
            flex-direction: column;
        }
    }
    &__example {
        flex-basis: 47%;
        // padding-right: 55px;
        margin: 0 0 33px 0;
        @media (max-width: 1140px) {
            padding-right: 20px;
        }
        @media (max-width: 960px) {
            padding-right: 10px;
        }
        &-img {
            width: 190px;
            height: 190px;
            border-radius: 50%;
            box-shadow: 10.4px 3.6px 0 0 #f5f5f5;
            filter: grayscale(100%);
            @media (max-width: 960px) {
                width: 168px;
                height: 168px;
            }
            @media (max-width: 576px) {
                width: 70%;
                height: 70%;
            }
        }
        &-title {
            font-family: "Adamina", cursive;
            font-size: 32px;
            line-height: 40px;
            padding: 20px 0;
            @media (max-width: 576px) {
                font-size: 36px;
            }
        }
        &-link {
            color: black;
            transition: all 0.35s ease 0s;
            &:visited {
                color: black;
            }
            &:hover {
                color: $blue;
            }
        }
        &-text {
            font-family: "Adamina", cursive;
            font-size: 14px;
            line-height: 22px;
            color: #777777;
            @media (max-width: 576px) {
                font-size: 16px;
            }
        }
    }
    &__more {
        font-family: "Adamina", cursive;
        font-size: 18px;
        display: block;
        border-top: 2px dashed #e6e6e6;
        padding: 26px 0 0 0;
        font-size: 18px;
        color: #31353d;
        &-link {
            background: url(../images/readmore_star.png) left center no-repeat;
            padding: 0 0 0 18px;
            transition: all 0.35s ease 0s;
            &:visited {
                color: #31353d;
            }
            &:hover {
                color: $blue;
            }
        }
    }
    &__volunteer {
        padding-left: 57px;
        @media (max-width: 1140px) {
            padding-left: 20px;
        }
        @media (max-width: 960px) {
            padding-left: 15px;
        }
        @media (max-width: 576px) {
            padding-left: 0;
        }
        &-title {
            font-family: "Bevan", cursive;
            font-size: 56px;
            line-height: 55px;
            color: $blue;
            margin-top: 94px;
            margin-bottom: 26px;
            @media (max-width: 1140px) {
                font-size: 40px;
                line-height: 44px;
            }
            @media (max-width: 767px) {
                margin-top: 32px;
            }
        }

        &-subtitle {
            font-family: "Adamina", cursive;
            font-size: 23px;
            line-height: 30px;
        }

        &-text {
            font-family: "Adamina", cursive;
            font-size: 14px;
            line-height: 22px;
            color: #777777;
            margin-top: 19px;
            margin-bottom: 31px;
        }
        &-link {
            text-align: center;
            width: $itemWidth/2;
            height: 44px;
            color: white;
            background-color: #31353d;
            border-radius: 21px;
            display: inline-block;
            padding: 12px 0 13px 0;
            transition: all 0.35s ease 0s;
            &:visited {
                color: white;
            }
            &:hover {
                background-color: $blue;
            }
        }
    }
}

// Секция Travel

.travel {
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 3px 3px rgba(31, 21, 10, 0.35);
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/travel_background.jpg);
        filter: blur(1px) brightness(0.65);
        background-size: cover;
    }
    &__slogan {
        position: relative;
        font-family: "Bevan", cursive;
        font-size: 61px;
        line-height: 70px;
        padding-top: 80px;
        padding-bottom: 16px;
        margin-top: 40px;
        @media (max-width: 767px) {
            font-size: 40px;
            line-height: 40px;
        }
        @media (max-width: 576px) {
            padding-top: 40px;
        }
    }
    &__text {
        position: relative;
        font-family: "Adamina", serif;
        font-size: 22px;
        line-height: 28px;
        margin: 0 $itemWidth;
        padding-top: 30px;
        padding-bottom: 80px;
        background: url(../images/travel_border.png) top repeat-x;
        @media (max-width: 1140px) {
            margin: 0;
        }
        @media (max-width: 960px) {
            margin: 0;
        }
        @media (max-width: 576px) {
            padding-bottom: 40px;
        }
    }
}

// Секция Sponsors

.sponsors {
    padding: 50px 0;
    @media (max-width: 960px) {
        padding: 30px 0;
    }
    @media (max-width: 395px) {
        display: none;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        @media (max-width: 960px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 576px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &__sponsor {
        display: inline-block;
        text-align: center;
        transition: all 0.35s ease 0s;
        &:hover {
            filter: brightness(1.2);
        }
    }
    &__sponsor-link {
    }

    &__sponsor-img {
    }
}

// Футер

.footer {
    background-color: lightgrey;
    &__menu {
        font-family: "Maiden Orange", cursive;
        font-size: 18px;
        line-height: 16px;
        padding-top: 52px;
        padding-bottom: 52px;
    }

    &__menu-list {
        text-align: center;
    }

    &__menu-item ~ &__menu-item {
        border-left: solid 1px #c0c1c3;
    }
    &__menu-item {
        display: inline-block;
        padding: 0 17px;
        @media (max-width: 576px) {
            padding: 0 5px;
        }
        @media (max-width: 390px) {
            padding: 0 3px;
            font-size: 15px;
        }
        @media (max-width: 360px) {
            padding: 0 2px;
        }
    }

    &__menu-item--active {
        color: #1bbaf0;
    }

    &__menu-link {
        transition: all 0.35s ease 0s;
        &:active {
            color: $blue;
        }
        &:link {
            color: black;
        }
        &:visited {
            color: black;
        }
        &:hover {
            color: $blue;
        }
        &--active {
            color: $blue !important;
        }
    }
    &__social {
        text-align: center;
        &-link {
            display: inline-block;
            width: 40px;
            height: 40px;
            background: #c0c1c3;
            border-radius: 50px;
            margin: 0 7px;
            color: white;
            transition: all 0.35s ease 0s;
            &:hover {
                color: $blue;
            }
        }
        &-img {
            padding-top: 11px;
        }
    }
    &__copy {
        font-family: "Maiden Orange", cursive;
        font-size: 17px;
        line-height: 14px;
        text-align: center;
        padding: 37px 0;
    }
}

// Стили для страницы About us

// Секция About us

.about-us {
    background: #31353d;
    color: white;
    border-top: 9px solid #1bbaf0;
    border-bottom: 11px solid #c0c1c3;
    &__wrapper {
        padding-top: 35px;
    }

    &__title {
        font: 32px "Adamina", serif;
        margin-bottom: 30px;
    }

    &__img1 {
        width: 280px;
        border-radius: 10px;
        float: left;
        margin: 0 30px 20px 0;
        @media (max-width: 960px) {
            width: 225px;
        }
        @media (max-width: 767px) {
            float: none;
            width: 280px;
            margin-right: 0;
        }
    }

    &__title-small {
        font: 23px "Adamina", serif;
        margin-bottom: 14px;
    }

    &__paragraph {
        font-family: "Adamina", serif;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 30px;
    }

    &__img2 {
        width: 364px;
        border-radius: 10px;
        float: right;
        margin: 0 0 20px 30px;
        @media (max-width: 960px) {
            width: 300px;
        }
        @media (max-width: 767px) {
            float: none;
            width: 364px;
            margin-left: 0;
        }
        @media (max-width: 400px) {
            width: 100%;
        }
    }
}

// Секция Offer

.offer {
    background-color: #f5f5f5;
    color: black;
    &__head {
        color: #31353d;
        font: 32px "Adamina", serif;
        margin-bottom: 30px;
        padding-top: 30px;
    }
    &__wrapper {
        display: flex;
        padding-bottom: 50px;
        justify-content: space-between;
        @media (max-width: 767px) {
            flex-wrap: wrap;
            justify-content: space-around;
            padding-bottom: 30px;
        }
    }

    &__item {
        text-align: center;
        width: $itemWidth;
        margin-top: 20px;
        @media (max-width: 576px) {
            width: auto;
        }
    }

    &__title {
        position: relative;
        font-family: "Adamina", serif;
        font-size: 14px;
        padding-bottom: 30px;

        @media (max-width: 767px) {
            padding-bottom: 0;
            margin-bottom: 20px;
        }
        @media (max-width: 576px) {
            font-size: 30px;
        }
    }

    // ? тут надо разобраться

    &__offer-container {
        padding-bottom: 35px;
        margin-bottom: 25px;
        background: url(../images/number_star.png) center bottom no-repeat;
        position: relative;
        font-family: "Ewert", cursive;
        color: black;
        font-size: 88px;
        line-height: 88px;
        position: relative;
        overflow: hidden;
        @media (max-width: 576px) {
            font-size: 94px;
            line-height: 94px;
        }
        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            bottom: 1px;
            height: 10px;
            right: $itemWidth/2;
            margin-right: 12px;
            background: url(../images/offer_lines.png) center top repeat-x;
            width: $itemWidth/2.2;
            @media (max-width: 1140px) {
                width: $itemWidth/3.5;
            }
            @media (max-width: 960px) {
                right: 90px;
                width: $itemWidth/4;
            }
            @media (max-width: 767px) {
                width: 50%;
                right: 50%;
            }
        }
        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            bottom: 1px;
            height: 10px;
            left: $itemWidth/2;
            margin-left: 12px;
            background: url(../images/offer_lines.png) center top repeat-x;
            width: $itemWidth/2.2;
            @media (max-width: 1140px) {
                width: $itemWidth/3.5;
            }
            @media (max-width: 960px) {
                width: $itemWidth/4;
                left: 90px;
            }
            @media (max-width: 767px) {
                width: 50%;
                left: 50%;
            }
        }
    }
    &__info {
        font-family: "Adamina", serif;
        color: #777;
        font-size: 12px;
        margin-bottom: 30px;
        line-height: 20px;
        @media (max-width: 960px) {
        }
        @media (max-width: 576px) {
            font-size: 16px;
        }
    }
    &__btn-link {
        text-align: center;
        background-color: #777;
        color: white;
        width: 130px;
        height: 44px;
        border-radius: 21px;
        box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
        display: inline-block;
        line-height: 40px;
        transition: all 0.35s ease 0s;
        &:hover {
            background-color: $blue;
        }
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }
}

// Секция Testimonials

.testimonials {
    &__head {
        color: #31353d;
        font: 32px "Adamina", serif;
        margin-bottom: 30px;
        padding-top: 60px;
        @media (max-width: 767px) {
            padding-top: 30px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 60px;
        @media (max-width: 767px) {
            flex-direction: column;
            padding-bottom: 20px;
        }
    }

    &__item {
        position: relative;
        margin-right: 10px;
        &::before {
            position: absolute;
            content: "";
            background: url(../images/testimonials_quote.png);
            width: 60px;
            height: 60px;
            z-index: 2;
            top: 0;
            left: 0;
        }
        @media (max-width: 960px) {
            margin-right: 30px;
        }
    }

    &__img {
        float: left;
        border-radius: 50%;
        width: 190px;
        box-shadow: 10px 4px 0 rgb(226, 226, 226);
        margin-right: 30px;
        margin-bottom: 20px;
        @media (max-width: 1140px) {
            width: 160px;
        }
        @media (max-width: 960px) {
            width: 125px;
        }
        @media (max-width: 767px) {
            width: 190px;
        }
        @media (max-width: 576px) {
            width: 220px;
            float: none;
        }
    }

    &__paragraph {
        color: #777;
        font-family: "Adamina", serif;
        font-size: 14px;
        line-height: 22px;
    }

    &__name {
        color: #777;
        font-family: "Adamina", serif;
        font-size: 23px;
        padding: 20px 0 0;
        margin-bottom: 34px;
    }
}

// Cтили для страницы Exibition

// Стили слайдера

.slider {
    border-top: 9px solid #1bbaf0;
    border-bottom: 11px solid #c0c1c3;
    background-color: #fff;

    &__title {
        font: 32px "Adamina", serif;
        margin-top: 40px;
        @media (max-width: 960px) {
            margin-top: 30px;
        }
        @media (max-width: 767px) {
            font-size: 26px;
            margin-top: 20px;
        }
        @media (max-width: 576px) {
            margin-top: 10px;
            font-size: 22px;
        }
    }
    &__container {
    }
    &__wrapper {
        padding: 80px 0;
        height: 100%;

        @media (max-width: 960px) {
            padding: 60px 0;
        }
        @media (max-width: 767px) {
            padding: 40px 0;
        }
    }

    &__slide-img {
        border-radius: 15px;
        max-width: 100%;
        @media (max-height: 500px,) {
            max-width: 50%;
            margin-left: 25%;
        }
    }
    &__prev {
        &::after {
            color: $blue;
            @media (max-width: 767px) {
                display: none;
            }
        }
    }

    &__next {
        &::after {
            color: $blue;
            @media (max-width: 767px) {
                display: none;
            }
        }
    }
}

// Пагинации для слайдера

.swiper-pagination-bullet-active {
    background-color: $blue !important;
}

// Стили страницы contacts

// Стили карты

#map {
    height: 300px;
    width: 100%;
}

// Стили для контактов и формы

.strong {
    font-weight: bold;
}
.contact {
    padding: 60px 0 64px;
    background-color: #fff;
    &__location {
        &-head {
            font: 32px "Adamina", serif;
            margin-bottom: 30px;
        }
    }

    &__inner {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }
    &__info {
        flex-basis: 33%;
        &-head {
            font: 32px "Adamina", serif;
            margin-bottom: 30px;
        }

        &-title {
            font: 23px "Adamina", serif;
            margin-bottom: 14px;
        }

        &-paragraph {
            color: #777;
            font-family: "Adamina", serif;
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 10px;
        }

        &-contacts {
            margin-bottom: 22px;
            color: #777;
            font-family: "Adamina", serif;
            font-size: 14px;
            line-height: 22px;
        }
        &-email {
            color: $blue;
            &:hover {
                color: #777;
            }
        }
    }
    &__form {
        flex-basis: 65%;

        &-head {
            font: 32px "Adamina", serif;
            margin-bottom: 30px;
        }

        &-wrapper {
        }

        &-form {
        }

        &-inner {
            display: flex;
            justify-content: space-between;
            @media (max-width: 576px) {
                flex-direction: column;
            }
        }

        &-name {
            border: 1px solid #d8d8da;
            color: #777;
            font: 14px "Adamina", serif;
            padding: 5px 10px 6px;
            width: 100%;
            @media (max-width: 576px) {
                width: 100%;
            }
        }

        &-email {
            border: 1px solid #d8d8da;
            color: #777;
            font: 14px "Adamina", serif;
            padding: 5px 10px 6px;
            width: 100%;

            @media (max-width: 576px) {
                width: 100%;
            }
        }

        &-subject {
            border: 1px solid #d8d8da;
            color: #777;
            font: 14px "Adamina", serif;
            padding: 5px 10px 6px;
            width: 100%;

            @media (max-width: 576px) {
                width: 100%;
            }
        }

        &-message {
            border: 1px solid #d8d8da;
            color: #777;
            font: 14px "Adamina", serif;
            padding: 5px 10px 6px;
            display: block;
            width: 100%;
            min-height: 145px;
            resize: vertical;
        }

        &-clear {
            text-align: center;
            background-color: #4d5057;
            color: white;
            width: 90px;
            height: 44px;
            border-radius: 21px;
            box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
            display: inline-block;
            line-height: 40px;
            transition: all 0.35s ease 0s;
            border: none;
            font: 16px "Adamina", serif;
            padding-bottom: 3px;
            margin-right: 10px;
            &:hover {
                background-color: $blue;
            }
            @media (max-width: 767px) {
                margin-bottom: 20px;
            }
        }

        &-submit {
            text-align: center;
            background-color: #4d5057;
            color: white;
            width: 160px;
            height: 44px;
            border-radius: 21px;
            box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
            display: inline-block;
            line-height: 40px;
            transition: all 0.35s ease 0s;
            border: none;
            font: 16px "Adamina", serif;
            padding-bottom: 3px;
            &:hover {
                background-color: $blue;
            }
            @media (max-width: 767px) {
                margin-bottom: 20px;
            }
        }
    }
}

// Стили для валидации формы

.form-control {
    flex-basis: 30%;
    position: relative;
    padding-bottom: 30px;
}

.form-control i {
    position: absolute;
    top: 8px;
    right: 8px;
    visibility: hidden;
}

.form-control small {
    position: absolute;
    bottom: 10px;
    left: 3px;
    font: 16px "Adamina", serif;
    color: #e74c3c;
    visibility: hidden;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.success i.fa-check-circle {
    visibility: visible;
    color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control.success textarea {
    border-color: #2ecc71;
}

.form-control.error textarea {
    border-color: #e74c3c;
}

.form-control.error i.fa-exclamation-circle {
    visibility: visible;
    color: #e74c3c;
}

.form-control.error small {
    visibility: visible;
    color: #e74c3c;
    font-size: 12px;
    @media (max-width: 960px) {
        font-size: 10px;
    }
}

// Стили страницы Blog

// Стили для секции Blog

.blog {
    font-family: "Adamina", serif;
    color: #31353d;
    flex-basis: 63%;
    background-color: #fff;
    &__wrapper {
        padding: 60px 0;
        display: flex;
        justify-content: space-between;
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }
    &__head {
        font-size: 32px;
        margin-bottom: 30px;
    }

    &__article {
        color: #777;
        margin-bottom: 50px;
        &-info {
            display: flex;
            padding-bottom: 20px;
            font-size: 14px;
            @media (max-width: 494px) {
                flex-direction: column;
            }
        }
        &-title {
            font-size: 12px;
            margin-bottom: 10px;
            color: #31353d;
            display: inline-block;
        }
        &-content {
        }
        &-author {
            &::before {
                content: "\f007";
                font-family: "Font Awesome 5 Free";
                color: $blue;
                margin-right: 10px;
            }
            @media (max-width: 494px) {
                padding: 6px 3px;
                border-bottom: 1px solid #d8d8da;
            }
        }

        &-date {
            padding-left: 10px;
            &::before {
                content: "\f073";
                font-family: "Font Awesome 5 Free";
                color: $blue;
                margin-right: 10px;
            }
            @media (max-width: 494px) {
                padding: 6px 3px;
                border-bottom: 1px solid #d8d8da;
            }
        }

        &-views {
            padding-left: 10px;
            &::before {
                content: "\f06e";
                font-family: "Font Awesome 5 Free";
                color: $blue;
                margin-right: 10px;
            }
            @media (max-width: 494px) {
                padding: 6px 3px;
                border-bottom: 1px solid #d8d8da;
            }
        }

        &-comments {
            padding-left: 10px;
            &::before {
                content: "\f075";
                font-family: "Font Awesome 5 Free";
                color: $blue;
                margin-right: 10px;
            }
            @media (max-width: 494px) {
                padding: 6px 3px;
                border-bottom: 1px solid #d8d8da;
            }
        }

        &-img {
            float: left;
            width: 40%;
            margin: 0 20px 20px 0;
            @media (max-width: 576px) {
                float: none;
                width: 100%;
                margin-right: 0;
            }
        }

        &-paragraph {
        }
        &-footer {
            padding-top: 30px;
            clear: both;
        }
    }

    &__blog {
    }

    &__btn {
        &-more {
            text-align: center;
            background-color: #4d5057;
            color: white;
            width: 130px;
            height: 44px;
            border-radius: 21px;
            box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
            display: inline-block;
            line-height: 40px;
            transition: all 0.35s ease 0s;
            margin: 0 15px 10px 0;
            &:hover {
                background-color: $blue;
            }
        }

        &-blog {
            text-align: center;
            background-color: #4d5057;
            color: white;
            width: 130px;
            height: 44px;
            border-radius: 21px;
            box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
            display: inline-block;
            line-height: 40px;
            transition: all 0.35s ease 0s;
            margin: 0 15px 10px 0;
            &:hover {
                background-color: $blue;
            }
        }

        &-login {
            text-align: center;
            background-color: #4d5057;
            color: white;
            width: 90px;
            height: 44px;
            border-radius: 21px;
            box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
            display: inline-block;
            line-height: 40px;
            transition: all 0.35s ease 0s;
            margin: 0 0 10px 0;
            &:hover {
                background-color: $blue;
            }
            &::after {
                // content: "to post comments";
                // color: #777;
                // position: relative;
            }
        }
    }

    &__page {
        &-1 {
            text-align: center;
            background-color: $blue;
            color: white;
            width: 64px;
            height: 44px;
            border-radius: 21px;
            box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
            display: inline-block;
            line-height: 40px;
            transition: all 0.35s ease 0s;
            margin: 0 15px 10px 0;
            &:hover {
                background-color: $blue;
            }
        }

        &-2 {
            text-align: center;
            background-color: #4d5057;
            color: white;
            width: 64px;
            height: 44px;
            border-radius: 21px;
            box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
            display: inline-block;
            line-height: 40px;
            transition: all 0.35s ease 0s;
            margin: 0 15px 10px 0;
            &:hover {
                background-color: $blue;
            }
        }

        &-next {
            text-align: center;
            background-color: #4d5057;
            color: white;
            width: 84px;
            height: 44px;
            border-radius: 21px;
            box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
            display: inline-block;
            line-height: 40px;
            transition: all 0.35s ease 0s;
            margin: 0 15px 10px 0;
            &:hover {
                background-color: $blue;
            }
        }

        &-last {
            text-align: center;
            background-color: #4d5057;
            color: white;
            width: 84px;
            height: 44px;
            border-radius: 21px;
            box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
            display: inline-block;
            line-height: 40px;
            transition: all 0.35s ease 0s;
            margin: 0 15px 10px 0;
            &:hover {
                background-color: $blue;
            }
        }
    }
}

// Стили для Aside

.aside {
    flex-basis: 35%;
    color: #777;
    font-size: 14px;
}
.categories {
    font-family: "Adamina", serif;
    color: #31353d;
    @media (max-width: 767px) {
        margin-top: 30px;
    }
    &__head {
        font-size: 32px;
        margin-bottom: 30px;
    }

    &__list {
        color: #777;
        font-size: 14px;
        line-height: 32px;
    }

    &__category {
        &::before {
            content: "\f005";
            font-family: "Font Awesome 5 Free";
            margin-right: 10px;
        }
    }

    &__link {
        color: #777;
        &:hover {
            color: $blue;
        }
    }
}
.poll {
    margin-top: 50px;
    font-family: "Adamina", serif;
    color: #777;
    &__head {
        font-size: 32px;
        margin-bottom: 30px;
        color: #31353d;
    }

    &__question {
        padding-bottom: 15px;
    }

    &__option {
        &-name {
        }

        &-percent {
            float: right;
        }
    }

    &__bar {
        width: 100%;
        height: 24px;
        border: 1px solid #d8d8da;
        margin: 3px 0 15px 0;
    }

    &__bar-fill {
        height: 20px;
        background-color: $blue;
        margin: 1px;
    }

    &__total {
        text-align: center;
        margin-bottom: 15px;
    }

    &__older {
        font-size: 16px;
        text-align: center;
        background-color: #4d5057;
        color: white;
        width: 130px;
        height: 44px;
        border-radius: 21px;
        box-shadow: 3.5px 3.6px 7px 0 rgba(31, 21, 10, 0.35);
        display: inline-block;
        line-height: 40px;
        transition: all 0.35s ease 0s;
        &:hover {
            background-color: $blue;
        }
    }
}

@media (max-width: 1400px) {
}
@media (max-width: 1140px) {
}
@media (max-width: 960px) {
}
@media (max-width: 767px) {
}
@media (max-width: 576px) {
}

// font-family: 'Adamina', serif;
// font-family: 'Bevan', cursive;
// font-family: 'Ewert', cursive;
// font-family: 'Maiden Orange', cursive;
